extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Kolawolé Anthony OGOUNCHI

        p.lead.text-light
          | Full Stack Developer

        .portfolio-bio
          p
            | I am a passionate developer who make solving real life and business challenges a mission. Whatever the project or assignment may be, I don't see roadblocks, only challenges to tackle and more value to bring.  
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li JQuery
          li Node
          li NPM
          li Express
          li React
          li Python
          li SQL

        h6 Contact Info
        ul
          li +1 (438) 496-9370
          li kolawoleogounchi@outlook.com

        a.button.expanded(href='https://www.linkedin.com/in/kolawol%C3%A9-anthony-ogounchi-79543415b/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/woleogounchi' target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  